<?xml version="1.0" encoding="ISO-8859-1" ?>
<!-- LOTH MAIN MENU -->
<menu>
<rubrique n='physics-2d'>
	<demo n='base_box' lib=''></demo>
	<demo n='base_circle' lib=''></demo>
	<demo n='base_particle' lib=''></demo>
	<demo n='adv_liquid' lib=''></demo>
</rubrique>
<rubrique n='physics-3d'>
	<demo n='base_box' lib=''></demo>
	<demo n='base_sphere' lib=''></demo>
	<demo n='adv_liquid' lib=''></demo>
	<demo n='adv_liquid_2' lib=''></demo>
</rubrique>
<rubrique n='games'>
	<demo n='city' lib=''></demo>
	<demo n='dungeon' lib='rot'></demo>
	<demo n='third_person' lib=''></demo>
	<demo n='third_person2' lib=''></demo>
</rubrique>	
<rubrique n='shaders'>
	<demo n='basic' lib=''></demo>
	<demo n='xray' lib=''></demo>
	<demo n='fansy' lib=''></demo>
	<demo n='parallax' lib=''></demo>
	<demo n='spherical' lib=''></demo>
	<demo n='shadowmap' lib=''></demo>
	<demo n='metaball' lib=''></demo>
</rubrique>	
<rubrique n='experiments'>
	<demo n='terrain' lib='terrain'></demo>
	<demo n='seriously' lib='serious'></demo>
	<demo n='crowd_test' lib=''></demo>
	<demo n='human' lib=''></demo>
</rubrique>
<rubrique n='tests'>
	<demo n='liquid' lib=''></demo>
	<demo n='superdroid' lib=''></demo>
	<demo n='dante' lib=''></demo>
	<demo n='sam' lib=''></demo>
	<demo n='eye' lib=''></demo>
</rubrique>
</menu>