<?xml version="1.0" encoding="ISO-8859-1" ?>
<!-- Voici des commentaires XML -->
<menu>
<rubrique n='physics-2d'>
	<demo n='demo_0' lib=''></demo>
	<demo n='demo_1' lib=''></demo>
	<demo n='demo_2' lib=''></demo>
</rubrique>
<rubrique n='physics-3d'>
	<demo n='demo_0' lib=''></demo>
	<demo n='demo_1' lib=''></demo>
	<demo n='demo_2' lib=''></demo>
</rubrique>
<rubrique n='games'>
	<demo n='demo_0' lib=''></demo>
	<demo n='demo_1' lib=''></demo>
	<demo n='demo_2' lib=''></demo>
</rubrique>	
<rubrique n='shaders'>
	<demo n='demo_0' lib=''></demo>
	<demo n='demo_1' lib=''></demo>
	<demo n='demo_2' lib=''></demo>
</rubrique>	
<rubrique n='experiments'>
	<demo n='demo_0' lib=''></demo>
	<demo n='demo_1' lib=''></demo>
	<demo n='demo_2' lib=''></demo>
</rubrique>
<rubrique n='others'>
	<demo n='demo_0' lib=''></demo>
	<demo n='demo_1' lib=''></demo>
	<demo n='demo_2' lib=''></demo>
</rubrique>
</menu>